
# Logs
*.log

# System & editor
.DS_Store
.idea
.vscode
.phpactor.json
.phpunit.result.cache
/.fleet
/.nova
/.phpunit.cache
/.zed
Thumbs.db

# Env & config
.env
.env.*
Homestead.json
Homestead.yaml
auth.json

# Dependency & build
node_modules
vendor
public/build
public/hot
public/storage
storage/*.key
storage/pail

